\\.\pipe\
\\.\*
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
venv/
.venv/
.dockerignore
.env
.env.example
.git
.gitignore
.idea
/.idea/
.pre-commit-config.yaml
Dockerfile.django
Dockerfile.fastapi
db.sqlite3
docker-compose.yaml
poetry.lock
venv
.ruff_cache
/.venv/
.mypy_cache
